html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background: #00042c;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Styling for the buttons */
.play-button {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(81, 0, 92);
  border: none;
  color: rgb(250, 250, 250);
  padding: 15px 30px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 10; /* Ensures button is above the canvas */
}

.play-button:hover {
  background-color: #cc74ff;
}
